h1 {
    font-size: 5rem;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-div>p:first-of-type {
    font-size: 2.1875rem;
    font-family:
        "Times New Roman";
    font-weight: 400;
    padding-bottom: 20px;
    color: black;
}
button{
    height: 5rem;
    width: 15rem;
    margin-bottom: 20px;
}

.main-div p{
    font-size: 35px;
    color: brown;
}

